@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);











#header1-0 P {
  font-size: 30px;
}
#header1-0 H1 {
  color: #0be646;
}
#testimonials1-2 .card-footer > div {
  font-size: 25px;
  color: #0275d8;
}
#testimonials1-2 .card-block DIV {
  font-size: 19px;
  text-align: center;
}
#testimonials1-2 .card-block P {
  text-align: right;
  font-size: 16px;
}
#testimonials1-2 .card-block {
  text-align: center;
}
#testimonials1-2 .mbr-section-title {
  color: #0275d8;
}
#testimonials1-2 .card-block B {
  font-size: 19px;
}
#msg-box3-3 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-3 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-3 .lead P {
  font-size: 30px;
}
#msg-box3-3 .mbr-section-title {
  color: #0275d8;
}
#msg-box3-3 .btn {
  font-size: 30px;
  font-family: 'Lora', serif;
}
#content1-4 P {
  text-align: center;
  font-size: 32px;
}
#content1-4 DIV {
  color: #085a1e;
}
#content5-6 .mbr-section-title {
  text-align: center;
  color: #0275d8;
}
#content5-6 P {
  text-align: center;
  font-size: 30px;
}
#content4-7 DIV {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}
#content4-8 P {
  text-align: center;
  font-family: 'Lato', sans-serif;
}
#msg-box3-d .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-d .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-d .mbr-section-title {
  color: #f90700;
}
#msg-box3-d .lead P {
  font-size: 25px;
}
#msg-box3-d .btn {
  font-size: 36px;
  font-family: 'Lora', serif;
}
#msg-box3-c .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-c .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-c .lead P {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
}
#msg-box3-c .mbr-section-title {
  color: #0275d8;
}
#msg-box3-g .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-g .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-g .mbr-section-title {
  color: #0275d8;
}
#msg-box3-g .lead DIV {
  font-size: 25px;
  font-family: 'Lato', sans-serif;
}
#msg-box3-g .lead {
  font-size: 25px;
  font-family: 'Lato', sans-serif;
  color: #085a1e;
}
#msg-box3-g .btn {
  font-family: 'Lora', serif;
  font-size: 60px;
}
#content5-i .mbr-section-title {
  text-align: center;
  color: #f90700;
}
#content5-i P {
  text-align: center;
  font-family: 'Lora', serif;
  font-size: 24px;
}
#content5-i DIV {
  color: #051e2a;
}
#msg-box3-n .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-n .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-n .lead P {
  font-family: 'Lora', serif;
  font-size: 60px;
}
#msg-box3-n .lead {
  color: #0275d8;
}
#msg-box3-n .mbr-section-title {
  color: #f90700;
}
#msg-box3-n .btn {
  font-size: 48px;
  font-family: 'Lora', serif;
}
#msg-box3-n .mbr-section-title B {
  font-size: 60px;
}
